.subcrumb.show-for-medium-up
  .breadcrumbs
    = render 'contents/crumb'
.bodywrapper
  %br/
  .small-12.columns
    #panel2.panel.project-contents
      %h3
        New Note#{link_to 'return', project_contents_path(@project), :style => "float: right;"}
      = render 'form'
