<div class="subcrumb show-for-medium-up">
  <div class="breadcrumbs">
    <%= render 'contents/crumb' %>
  </div>
</div>

<div class="bodywrapper">
  <br>

  <div class="small-12 columns">
    <div class="panel project-contents" id="panel2">
      <h3>New Note<%= link_to 'return', project_contents_path(@project), :style => "float: right;" %></h3>
      <%= render 'form' %>
</div>
</div>
</div>
