<div class="bodywrapper">
  <br>
  <div class="row left">
    <div class="small-12 columns">
      <%= f.label "Note Title", class: "bold" %><br>
      <%= f.text_field :title, :size=>"50", class: "radius entry" %>
    </div>
  </div>
</div>
