<% if @project.nil? %>
  <a href="#" class="active">Dash</a>
<% else %>
  <a href="#">Dash</a>
  <% if @project.depth == 0 %>
    <a href="#" class="active"><%= @project.name %></a>
  <% else %>
    <% @project.ancestors.each do |ancestor| %>
      <a href="#"><%= ancestor.name %></a>
    <% end %>
    <a href="#" class="active"><%= @project.name %></a>
  <% end %>
<% end %>
