= form_for [@project, @content] do |f|
  - if @content.errors.any?
    #error_explanation
      %h2
        = pluralize(@content.errors.count, "error")
        prohibited this file from being saved:
      %ul
        - @content.errors.full_messages.each do |message|
          %li= message
  / <haml_loud> f.file_field :location, multiple: true, name: &quot;content[location]&quot; </haml_loud>
  /
    <div id="upload">
    <div class="wrapper">
  = f.file_field :location, multiple: true, name: "content[location]"
  /
    </div>
    <button>Select a file</button>
    </div>
