= content_tag(:div, "Project Folders")
= link_to image_tag("folder-delete3.png", {:size=>"25", :alt=>"Delete Project", :title=>"Delete Project", :style => "float: right; top: -22px; position: relative;"}), @project, method: :delete, data: { confirm: 'Really delete the project and all contents?' }
= link_to image_tag("folder-add3.png", {:size=>"25", :alt=>"New Project", :title=>"New Project", :style => "float: right; top: -22px; position: relative;"}), new_project_path, data: {:"reveal-id" => "myModal", :"reveal-ajax" => true}
