<div class="bodywrapper">
<br>
<%= link_to "Upload", new_project_content_path(@project) %>
<br>


<% @project.contents.each do |content| %>
  <%= link_to content.name, project_content_path(@project, content) %><br>
<% end %>
</div>
