$.blockUI({ message: '<h5>Loading...</h5>' });
$(".project-contents").empty();
$("<%= escape_javascript(render 'entries') %>").appendTo(".project-contents");
$.unblockUI();
doDraggable();
dropDown();
clickCheckBoxes();
$('.best_in_place').on("ajax:success", function () {
  location.reload();
});
