<div class="bodywrapper">
<br>

<%= render 'form' %>




<%= link_to 'Cancel', dashboards_path, class: "button tiny radius" %>
</div>
</div>
</div>


<script id="template-upload" type="text/x-tmpl">
<div class="upload">
  {%=o.name%}
  <div class="progress large-6 radius"><span class="meter" style="width: 0%"></span></div>
</div>
</script>
