<div class="bodywrapper">
<br>

  <div class="panel" id="panel-upload"><h3>Upload Files</h3>
    <div class="panel-contents-upload">
      <div id="dropzone" class="fade well">Drop files here</div>
      <p>Or click browse to open your file manager...</p>
      <%= render 'form' %>



<script id="template-upload" type="text/x-tmpl">

<div class="upload">
  {%=o.name%}
  <div class="progress radius"><span class="meter" style="width: 0%"></span></div>
</div>
</script>
</div>
</div>
</div>
