<div class="bodywrapper">
<br>
<div class="row columns">
  <div class="small-4 columns">
    <div class="panel" id="panel1"><h3>Personal</h3>
      <div class="panel-contents">
        Inbox<br>
        Deleted Items
      </div>
    </div>
    <div class="panel" id="panel2"><h3>Project Folders <%= link_to image_tag("folder-add.png", {:size=>"20", :alt=>"New Project", :title=>"New Project"}), new_project_path, :class => 'entry-right' %>
</h3>
            <div class="panel-contents">test info 2</div>
    </div>
  </div>



  <div class="small-8 columns">
    <div class="panel" id="panel2"><h3>Project Contents</h3>
      <div class="panel-contents">test info 3</div>
    </div>
  </div>
</div>
