/ a simple div with some links
/
  <div class="subcrumb show-for-medium-up">
  <div class="breadcrumb">
  <haml_silent>	 if @project.nil?
  </haml_silent><haml_block>	  <a href="#" class="active">Dash</a>
  </haml_block><haml_silent>	 else
  </haml_silent><haml_block>	  <a href="#">Dash</a>
  <a href="#" class="active"><haml_loud> @project.name </haml_loud></a>
  </haml_block></div>
  </div>
.show-for-medium-up
  %nav.breadcrumbs
    - if @project.nil?
      %a.current{:href => "#"} Dash
    - else
      %a.current{:href => "#"}= @project.name
      /
        <a class="unavailable" href="#">Gene Splicing</a>
        <a class="current" href="#">Cloning</a>
