<!-- a simple div with some links -->
<!-- <div class="subcrumb show-for-medium-up">
<div class="breadcrumb">
	<% if @project.nil? %>
	  <a href="#" class="active">Dash</a>
	<% else %>
	  <a href="#">Dash</a>
		<a href="#" class="active"><%= @project.name %></a>
	<% end %>
</div>
</div> -->

<div class="show-for-medium-up">
	<nav class="breadcrumbs">
		<% if @project.nil? %>
		  <a href="#" class="current">Dash</a>
		<% else %>
			<a href="#" class="current"><%= @project.name %></a>
		  <!--<a class="unavailable" href="#">Gene Splicing</a>
		  <a class="current" href="#">Cloning</a> -->
		<% end %>
	</nav>
</div>
<div class='spinner'></div>
