<!-- a simple div with some links -->
<div class="subcrumb show-for-medium-up">
<div class="breadcrumb">
	<% if @project.nil? %>
	  <a href="#" class="active">Dash</a>
	<% else %>
	  <a href="#">Dash</a>
		<a href="#" class="active"><%= @project.name %></a>
	<% end %>
	<!--<a href="#">Compare</a>
	<a href="#">Order Confirmation</a>
	<a href="#">Checkout</a>-->
</div>
</div>

<!-- another version - flat style with animated hover effect -->
<!--<div class="breadcrumb flat">
	<a href="#" class="active">Browse</a>
	<a href="#">Compare</a>
	<a href="#">Order Confirmation</a>
	<a href="#">Checkout</a>
</div> -->
